section >a> h2,
nav > ul > li {
    text-transform: uppercase;
}

article {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

section {
    margin-bottom: 20px;
    width: 70%;
    margin: 0 auto;
}

article > img {
    width: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

article > a{
    text-decoration: none;
    color: orange;
}

article > a:hover {
    color: black;
  }

section a.section-link {
    display: block;
    text-decoration: none;
    color: white;
}

section a.section-link h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
}

section.sport a.section-link {
    border: 10px solid orange;
    background-color: orange;
}

section.kultur a.section-link {
    border: 10px solid red;
    background-color: red;
}




/* navigacija */
nav {
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    width: 100%;
    border-top: 10px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}

.logo-image {
    max-width: 5%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

.nav-links li a:hover {
    background-color: #e6e6e6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    height: 5%;
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
